*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.buildpath
.project
.settings/*

#codeigniter 3
application/logs/*
database.php
application/config/database.php
!application/logs/index.html
!application/logs/.htaccess
/vendor/