.btn-right {
	display: block;
	position: absolute;
	float: right;
	right: 50px;
	top: 50px;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

@keyframes jon_a_form {
    0%   {top:-80%;}
    20%  {top:-60%;}
    40%  {top:-40%;}
    60%  {top:-20%;}
    80%  {top:0%;}
    100%  {top:20%;}
}

.animated_form {
	display: block;
	position: relative;
	top: 20%;
    animation-name: jon_a_form;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes jon_a_baba {
    0%   {left:-3%; top:20%;}
    10%  {left:-2%; top:20%;}
    20%  {left:-1%; top:20%;}
    30%  {left:0%; top:20%;}
    40%  {left:1%; top:20%;}
    50%  {left:2%; top:20%;}
    60%  {left:3%; top:20%;}
    70%  {left:4%; top:20%;}
    80%  {left:5%; top:20%;}
    90%  {left:6%; top:20%;}
    100% {left:7%; top:20%;}
}

.back-left {
	z-index: -1;
	top: 20%;
	left: 7%;
	display: block;
	position: absolute;
	width: 20%;
	height: auto;
    animation-name: jon_a_baba;
    animation-timing-function: linear;
    animation-duration: 3s;
}

#child_boxes {
	display: inline-block;
	position: relative;
	width: 70%;
	left: 20%;
}

tr.child_row {
	display: inline-block;
	position: relative;
	width: 100%;
}

td.box {
    display: table-cell;
	position: relative;
	height: 150px;
	width: auto;
	text-align: center;
	background-image: url('../img/elso.png');
	background-size: contain;
	background-repeat: no-repeat;
}

td.ch11 {
	background: #ccff00;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
}

li#title {
	display: inline-block;
	position: relative;
	font-size: 26px;
	margin-right: 30%;
    float: left;
    display: table-cell;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    float: left;
    display: table-cell;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color: #fff;
}

.radiobtn {
	display: inline-block;
	position: relative;
	width: auto;
}

.form-control2 {
 
  padding: 6px 12px;
  text-align: left;
  width: 50%;
  display: inline-block;
  position: relative;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.measurement {
  position: relative;
  left: -30px;
  font-family: sans-serif; /* Optional, just styling it so it looks nicer */
  font-size: 12px; /* Optional, just styling it so it looks nicer */
  color:gray
}