.thumbnail {
    position:relative;
    overflow:hidden;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
.videowrapper iframe, 
.videowrapper object,
.videowrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none; 
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.btn-right {
	display: block;
	position: absolute;
	float: right;
	right: 50px;
	top: 80px;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.footer {
	display: block;
	position: fixed;
	float: right;
	bottom: 3%;
	right: 5%;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

#user {
	color: #6666cc;
}

@keyframes jon_a_form {
    0%   {top:-80%;}
    20%  {top:-60%;}
    40%  {top:-40%;}
    60%  {top:-20%;}
    80%  {top:0%;}
    100%  {top:20%;}
}

.animated_form {
	display: block;
	position: relative;
	top: 20%;
    animation-name: jon_a_form;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes jon_a_baba {
    0%   {left:-3%; top:20%;}
    10%  {left:-2%; top:20%;}
    20%  {left:-1%; top:20%;}
    30%  {left:0%; top:20%;}
    40%  {left:1%; top:20%;}
    50%  {left:2%; top:20%;}
    60%  {left:3%; top:20%;}
    70%  {left:4%; top:20%;}
    80%  {left:5%; top:20%;}
    90%  {left:6%; top:20%;}
    100% {left:7%; top:20%;}
}

.back-left {
	z-index: -1;
	top: 20%;
	left: 7%;
	display: block;
	position: absolute;
	width: 20%;
	height: auto;
    animation-name: jon_a_baba;
    animation-timing-function: linear;
    animation-duration: 3s;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: -99;
}

#child_boxes {
	display: inline-block;
	position: relative;
	width: 100%;
}

.child_box {
	height: 250px;
	width: auto;
	background-color: lightgray;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
}

li#title {
	display: inline-block;
	position: relative;
	font-size: 26px;
	margin-right: 30%;
    float: left;
    display: table-cell;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    float: left;
    display: table-cell;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color: #fff;
}

.radiobtn {
	display: inline-block;
	position: relative;
	width: auto;
}

.form-control2 {
 
  padding: 6px 12px;
  text-align: left;
  width: 50%;
  display: inline-block;
  position: relative;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.measurement {
  position: relative;
  left: -30px;
  font-family: sans-serif; /* Optional, just styling it so it looks nicer */
  font-size: 12px; /* Optional, just styling it so it looks nicer */
  color:gray
}



 /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 75%;
    margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 

.prog_val{
	
	z-index:100;
}

.progress-label {
    float: right;
    margin-right: 1em;
    font-style: italic;
}